<!DOCTYPE html>
<html lang="pt-BR"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="../sobre">Sobre</a></li>
                <li><a href="../servicos">Serviços</a></li>
                <li><a href="../produto">Cadastro Produtos</a></li>
                <li><a href="../consultar_produtos">Consultar Produtos</a></li> <!-- Corrigido o link -->
                <li><a href="../contato">Cadastro Clientes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Sobre nós</p>
        <p>Bem-vindo ao nosso site! Aqui você encontrará informações sobre nossos produtos e serviços.</p>  
        <p>Estrutura básica de um documento HTML.</p>
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Produtos - Rafael Francisco</p>
    </footer>
</body>
</html>